<div class="container px-5 px-sm-0">
  <%= render "layouts/errors", new_book: @new_book %>
  <div class="row">

    <%= render "users/info", user: @book.user, new_book: @new_book %>


    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tr>
          <td>
            <%= link_to user_path(@user) do %>
              <%= image_tag @user.get_profile_image(80,80) %>
              <br>
              <%= @user.name %>
            <% end %>
          </td>
          <td>
            <%= link_to book_path(@book) do %>
              <%= @book.title %>
            <% end %>
            </td>
          <td><%= @book.body %></td>
          <td>
          <%= render 'favorites/favorite', book: @book %>
          </td>

          <% if @user == current_user %>
          <td>
            <%= link_to "Edit", edit_book_path, class: "btn btn-sm btn-success" %>
          </td>
          <td>
            <%= link_to "Destroy", @book, method: :delete, "data-confirm" => "本当に消しますか？", class: "btn btn-sm btn-danger" %>
          </td>
          <% end %>

        </tr>
      </table>
    </div>


  </div>
</div>